<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cubeCol1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cubeCol2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{90,89}</string>
                <key>textureRect</key>
                <string>{{89,0},{90,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cubeCol3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{179,0},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cubeCol4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{268,0},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cubeCol.png</string>
            <key>size</key>
            <string>{357,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d3d2367a67868e3f48f9a0eee6026af:df0c29d0a6c69a30a617e9e2b5d676e2:9ee249d1905d85813449eb49293501d5$</string>
            <key>textureFileName</key>
            <string>cubeCol.png</string>
        </dict>
    </dict>
</plist>
