<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cubeRow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cubeRow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{90,89}</string>
                <key>textureRect</key>
                <string>{{89,0},{90,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cubeRow3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{179,0},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cubeRow4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{268,0},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cubeRow.png</string>
            <key>size</key>
            <string>{357,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:922bca41939d99c14894be30321048b5:b90095af04a8287dd4a4c7e9a8884679:b688921c950fcdef8f7f0f4ca2aecdde$</string>
            <key>textureFileName</key>
            <string>cubeRow.png</string>
        </dict>
    </dict>
</plist>
